<div class="container-footer">
    <footer>
        <div class="container">
            <div class="sec aboutus">
                <h2>Sobre nosotros</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nostrum excepturi quisquam.</p>
                <ul class="sci">
                    <li>
                        <a href="https://facebook.com" class="facebook" target="_blank">
                            <i class='bx bxl-facebook-circle'></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com" class="twitter" target="_blank">
                            <i class='bx bxl-twitter'></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com" class="instagram" target="_blank">
                            <i class='bx bxl-instagram-alt' ></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://youtube.com" class="youtube" target="_blank">
                            <i class='bx bxl-youtube'></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sec quicklinks">
                <h2>Soporte</h2>
                <ul>
                    <li>
                        <a href="#">Preguntas frecuentes</a>
                    </li>
                    <li>
                        <a href="./sections/termsandconditions.html">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                    <li>
                        <a href="./sections/contact.html">Contacto</a>
                    </li>
                </ul>
            </div>
            <div class="sec quicklinks">
                <h2>Comprar</h2>
                <ul>
                    <li>
                        <a href="">Hombre</a>
                    </li>
                    <li>
                        <a href="">Mujer</a>
                    </li>
                    <li>
                        <a href="">Niños</a>
                    </li>
                    <li>
                        <a href="">Calzados</a>
                    </li>
                </ul>
            </div>
            <div class="sec contact">
               <h2>Contacta con nosotros</h2>
               <ul class="info">
                <li> 
                    <span>
                        <i class='bx bxs-phone-call' ></i>
                    </span> 
                    <p>
                        <a href="tel_+5492612458 967 ">0 261 2458 967</a>
                    </p>
                </li>
                <li> 
                    <span>
                        <i class='bx bxl-gmail' ></i>
                    </span> 
                    <p>
                        <a href="mailto:tienda.lllll@gmail.com">tienda.lllll@gmail.com</a>
                    </p>
                </li>
            </ul>
            </div>
        </div>
    </footer>
    <div class="copyright-text">
        <p>&copy; 2024 - Todos los derechos reservados.</p>
    </div>
</div>