
  <!--- HEADER-->
  <header>
  <!--- Apartado de promociones-->
  <div class="marquee-container" id="marqueeContainer">
    <div class="marquee-content" id="marqueeContent">
      <!-- Carga dinamica de promociones -->
    </div>
  </div>
  
  <!-- Encabezado principal -->
  <div class="header-main">
    <div class="container-head">

      <!-- Barra de busqueda -->
      <div class="header-search-container">
        <button class="action-btn" id="searchButton">
          <i class='bx bx-search-alt-2'></i>
        </button>
        <div class="search-menu" id="searchMenu">
          <button class="close-btn-search" onclick="closeSearchMenu()">
            <i class='bx bx-x'></i>
          </button>
          <input type="text" class="search-input" placeholder="Buscar...">
        </div>
      </div>
     
      <!-- Logo -->
      <div class="header-logo">
        <a href="./index.html">
          <img src="./static/img/logo.svg" alt= "Logo de la tienda">
        </a>
      </div>
      
      <!-- Acciones del ususario -->
      <div class="header-user-actions">

        <button class="action-btn" data-redirect="../sections/login.html">
          <i class='bx bx-user'></i>
        </button>
        
      
        <button class="action-btn" data-redirect="../sections/login.html">
          <i class='bx bx-heart'></i>
          <span class="count-favorite">0</span>
        </button>
        
        <button class="action-btn" data-redirect="../sections/login.html">
          <i class='bx bxl-shopify'></i>
          <span class="count">0</span>
        </button>

      </div>

    </div>

  </div>

    <!-- Navegacion de escritorio -->
  <nav class="desktop-navigation-menu">
    <div class="container">
      <ul class="desktop-menu-category-list">

        <!-- Elementos del menu escritorio -->
        <li class="menu-category">
          <a href="/index.html" class="menu-title">Home</a>
        </li>

        <!-- Categorias -->
        <li class="menu-category">
          <a href="#" class="menu-title">Categorias</a>
          <div class="dropdown-panel">

            <!-- Categoria niños -->
            <ul class="dropdown-panel-list">
              <li class="menu-title">
                <a href="./sections/niños.html">Niños</a>
              </li>
              <li class="panel-list-item">
                <a href="./sections/niños.html">
                  <img src="./static/img/kids-banner.jpg" alt="colletctions kids" width="250"
                    height="119">
                </a>
              </li>
            </ul>

             <!-- Categoria Hombres -->
            <ul class="dropdown-panel-list">
              <li class="menu-title">
                <a href="./sections/hombres.html">Hombres</a>
              </li>
              <li class="panel-list-item">
                <a href="./sections/hombres.html">
                  <img src="./static/img/banner-hombre.jpg" alt="men's fashion" width="250" height="119">
                </a>
              </li>
            </ul>

            <!-- Categoria mujeres -->
            <ul class="dropdown-panel-list">
              <li class="menu-title">
                <a href="./sections/mujeres.html">Mujeres</a>
              </li>
              <li class="panel-list-item"> 
                <a href="./sections/mujeres.html">
                  <img src="./static/img/banner-mujer.jpg" alt="women's fashion" width="250" height="119">
                </a>
              </li>
            </ul>

            <!-- Categoria calzados -->
            <ul class="dropdown-panel-list">
              <li class="menu-title">
                <a href="./sections/calzados.html">Calzados</a>
              </li>
              <li class="panel-list-item"> 
                <a href="./sections/calzados.html">
                  <img src="./static/img/calzado-banner.jpg" alt="mouse collection" width="250" height="119">
                </a>
              </li>
            </ul>
          </div>
        </li>

       
        <!-- Enlace acerca de nosostros -->
        <li class="menu-category">
          <a href="./sections/about.html" class="menu-title">Quienes somos</a>
        </li>

        <!-- Enlace contactos -->
        <li class="menu-category">
          <a href="./sections/contact.html" class="menu-title">Contacto</a>
        </li>

        <!-- Elace locales -->
        <li class="menu-category">
          <a href="./sections/locals.html" class="menu-title">Locales</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Fin menu de escritorio -->


  <!-- Menu movil -->
  <div class="mobile-bottom-navigation">

    <button class="action-btn" data-mobile-menu-open-btn>
      <i class='bx bx-menu'></i>
    </button>
    <button class="action-btn" onclick="loginRedirect()">
      <i class='bx bx-user'></i>
    </button>
   
    <button class="action-btn" onclick="loginRedirect()">
      <i class='bx bx-heart'></i>
      <span class="count-favorite">0</span>
    </button>

    <button class="action-btn" onclick="loginRedirect()">
      <i class='bx bxl-shopify'></i>
      <span class="count">0</span>
    </button>
    
  </div>

  <!-- Navegacion movil -->
  <nav class="mobile-navigation-menu  has-scrollbar" data-mobile-menu>
    <div class="menu-top">
      <h2 class="menu-title">Menu</h2>
      <button class="menu-close-btn" data-mobile-menu-close-btn>
        <i class='bx bx-x'></i>
      </button>
    </div>

    <ul class="mobile-menu-category-list">

      <!-- Enlace movil home -->
      <li class="menu-category">
        <a href="./index.html" class="menu-title">Home</a>
      </li>

      <!-- Categorias desplegables -->
      <li class="menu-category">

        <!-- Categoria hombres -->
        <button class="accordion-menu" data-accordion-btn>
          <p class="menu-title">Categorias</p>
          <div>
            <i class='bx bxs-sort-alt'></i>
          </div>
        </button>

        <!-- Sub categorias movil -->
        <ul class="submenu-category-list" data-accordion>
          <li class="submenu-category">
            <a href="./sections/niños.html" class="submenu-title">Niños</a>
          </li>
          <li class="submenu-category">
            <a href="./sections/hombres.html" class="submenu-title">Hombres</a>
          </li>
          <li class="submenu-category">
            <a href="./sections/mujeres.html" class="submenu-title">Mujeres</a>
          </li>
          <li class="submenu-category">
            <a href="./sections/calzados.html" class="submenu-title">Calzados</a>
          </li>
        </ul>
      </li>

      <!-- Enlace movil acerca de nosotros -->
      <li class="menu-category">
        <a href="./sections/about.html" class="menu-title">Quienes somos</a>
      </li>

      <!-- Enlace movil contactos -->
      <li class="menu-category">
        <a href="./sections/contact.html" class="menu-title">Contacto</a>
      </li>

      <!-- Enlace movil locales -->
      <li class="menu-category">
        <a href="./sections/locals.html" class="menu-title">Locales</a>
      </li>
    </ul>

    <!-- Redes sociales -->
    <div class="menu-bottom">
      <ul class="menu-social-container">
        <li>
          <a href="https://facebook.com" target="_blank" class="social-link facebook">
            <i class='bx bxl-facebook-circle'></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com" target="_blank" class="social-link twitter">
            <i class='bx bxl-twitter'></i>
          </a>
        </li>
        <li>
          <a href="https://instagram.com" target="_blank" class="social-link instagram">
            <i class='bx bxl-instagram-alt' ></i>
          </a>
        </li>
        <li>
          <a href="https://youtube.com" target="_blank" class="social-link youtube">
            <i class='bx bxl-youtube'></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  </header>
  
