

/* titulo de sección */

.section-card-categories {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.section-card-categories .top {
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: auto;
    padding: 10px;
    justify-content: center;
}

/* Estilos para el título h2 */
.top .top-title {
    grid-column: 2 / span 2;
    text-align: start;
}

.top-title h2 {
    margin-top: auto;
    color: var(--eerie-black);
    /* text-decoration: underline; */
    margin-top: 50px;
}

/* Estilos para el texto h5 */
.top-text {
    grid-column: 1 / span 4;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: var(--border-radius-sm);
    box-shadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para el filtro */
.top-filter {
    position: relative;
    right: 95%;
    margin: 20px;
    outline: none;
}

/* Estilos para el selector */
#filt {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    background-color: #fff;
}



/* Contenedor de las tarjetas */
.section-card-categories .conteiner-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    gap: 15px;
    padding: 30px;
}

.conteiner-cards>.card {
    height: 300px;
}

/* Estilo de Tarjetas */
.card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    width: 90%;
    height: auto;
    perspective: 1000px;
    transition: transform 0.5s;
    backface-visibility: hidden;
}

.card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

/* Animacion de giro de cartas*/
.card.flipped .card-inner {
    transform: rotateY(180deg);
}

/* Estilos parte trasera de cartas*/
.card-front,
.card-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
}

.card-front {
    background-color: #f0f0f0;
}

/* Estilo del contenido trasero de la tarjeta */
.card-back {
    background-color: #e0e0e0;
    transform: rotateY(180deg);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-back h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.card-back p {
    margin-bottom: 10px;
}

.card-back span {
    text-align: center;
}

.card-back .btn-buy {
    align-self: flex-end;
}

.card-back .btn-buy {
    align-self: center;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.card-back .btn-buy:hover {
    background-color: #0056b3;
}

.card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: fill;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



/* Efecto scale en card */
.card:hover {
    transform: scale(1.05) translateZ(10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

/* Establece una altura mínima del 100% del viewport height */
.main-card {
    min-height: 100vh;
}
/* Tablets (Pantallas medianas) */
@media (min-width: 768px) and (max-width: 1024px) {
    .section-card-categories {
        width: 85%;
    }
    .top {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto; /* Asegura suficiente espacio para el filtro */
    }
    .top .top-title {
        grid-column: 1 / span 2;
        text-align: center;
    }
    .top-text {
        grid-column: 1 / span 2;
    }
    .top-filter {
        position: relative; 
        top: auto;
        right: auto;
        margin: 20px auto;
        width: 100%;
        text-align: center;
    }
}

/* Móviles (Pantallas pequeñas) */
@media (max-width: 767px) {
    .section-card-categories {
        width: 95%;
    }
    .top {
        grid-template-columns: 1fr;
    }
    .top .top-title {
        grid-column: 1;
        text-align: center;
    }
    .top-text {
        grid-column: 1;
    }
    .top-filter {
        position: relative;
        top: auto;
        right: auto;
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }
    .conteiner-cards {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 390px) {
    .section-card-categories {
        width: 100%;
    }
    .card {
        background: transparent;
        border: none;
    }
    
    .card-back .btn-buy{
        margin-bottom: 10px;
    }
}
