@import "style.css";



.main-categories-html {
    margin: 0 20px;
    margin: 20px;
}

.main-categories-html > h2 {
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline var(--violet);
}


/* Estilos para las filas */
.main-categories-html .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 1300px;
}

/* Estilos para las secciones */
.sections-categories {
    width: calc(50% - 10px); 
}


.sections-categories:last-child {
    margin-right: 0; 
}

/* Estilos para las secciones */
.sections-categories {
    width: calc(50% - 10px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
}

.sections-categories .top-filter {
   display: none;
}

.sections-categories .top-text {
    display: none;
}

.sections-categories .conteiner-cards {
    display: grid;
    grid-template-columns: repeat(3, 180px); 
    gap: 15px; 
    padding: 15px; 
}


/* Estilo de Tarjetas */
.card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    width: 100%; 
    height: 100%; 
    perspective: 1000px; 
    display: flex; 
    flex-direction: column; 
}


/* estilos carusel */
.carousel {
    width: 100%; 
    max-width: 1300px; 
    height: 300px; 
    overflow: hidden;
    margin: 60px auto; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: var(--border-radius-md);
}

.video-container {
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-container video::-webkit-media-controls {
    display: none;
}

/* Establece un ancho máximo para los videos dentro del carrusel */
.video-container video {
    max-width: 95%;
    max-height: 100%;
}
