

.main-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    max-width: 1000px;
    width: 100%;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
}

#contact-inicio{
    max-width: 95%;
    
}

.main-contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.redirect-contact {
    display: flex; 
    justify-content: space-between; 
    gap: 20px; 
    max-width: 100%;
    margin: 0 auto;
}



.redirect-contact p {
    font-size: 16px;
    margin-bottom: 10px;
    flex: 1;
}

.redirect-contact a {
    margin-top: 5px;
    color: #007bff;
    text-decoration: none;
}

.redirect-contact a:hover {
    text-decoration: underline; 
}



.form-wrapper {
    margin-top: 20px;
}

.form-wrapper form {
    text-align: left;
}

.form-wrapper label {
    font-weight: bold;
}

.form-wrapper input,
.form-wrapper textarea,
.form-wrapper select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-wrapper input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-wrapper input[type="submit"]:hover {
    background-color: #0056b3;
}

.form-wrapper textarea {
    resize: vertical;
}

.form-wrapper p {
    font-size: 14px;
    color: #999;
}