/* Importación de archivos CSS externos */
/* @import "style.css"; */

/* Estilos del contenedor del pie de página */
.container-footer {
    border-top: 2px solid var(--cultured);
}

/* Estilos del pie de página */
footer {
    width: 100%;
    height: auto;
    background: var(--white);
    text-wrap: wrap;
}

/* Estilos del contenedor principal */
.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

/* Estilos de las secciones del pie de página */
.section-footer {
    padding: 20px;

    h2 {
        color: var(--eerie-black);
        font-weight: 600;
        margin-bottom: 15px;
    }

    ul,
    li {
        margin-bottom: 10px;
    }

    p {
        color: var(--onyx);
        margin-bottom: 5px;
    }

    i {
        color: var(--eerie-black);
    }
}

/* Estilos de los íconos sociales del pie de página */
.social-icons-footer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 20px;
}

.social-icons-footer li {
    list-style: none;
}

.social-icons-footer li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: var(--eerie-black);
    border: 1px solid var(--onyx);
    border-radius: var(--border-radius-sm);
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

.social-icons-footer li a i {
    color: var(--white);
    font-size: 25px;
    transition: color 0.3s ease-in-out;
}

.social-icons-footer li a:hover i {
    animation: iconAnimation 0.5s infinite;
}

.social-icons-footer .twitter:hover i {
    color: rgb(0, 166, 232);
}

.social-icons-footer .instagram:hover i {
    color: rgb(178, 53, 110);
}

.social-icons-footer .facebook:hover i {
    color: rgb(59, 85, 150);
}

.social-icons-footer .youtube:hover i {
    color: rgb(203, 21, 35);
}

/* Estilos de los enlaces rápidos y la información de contacto */
.quicklinks ul li,
.contact .info li {
    list-style: none;
}

.quicklinks ul li a,
.contact .info li a {
    color: var(--onyx);
    text-decoration: none;
    display: inline-block;
}

.contact .info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

.contact .info li span {
    color: #555;
    font-size: 20px;
}

/* Estilos para el texto de derechos de autor */
.copyright-text {
    width: 100%;
    background: var(--white);
    padding: 20px 50px 20px;
    text-align: center;
    color: var(--onyx);
    border-top: 1px solid var(--spanish-gray);
}

/* Media queries */
@media (max-width: 991px) {
    footer {
        padding: 40px;
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .copyright-text {
        padding: 5px 40px 30px;
    }
}

@media (max-width: 768px) {
    .container-footer{
       margin-top: 100px;
        
    }
    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .copyright-text {
        padding: 20px 40px 10px;
    }
}
