@import "style.css";

.container-footer {
    position: relative;
    height: 50vh;  
    
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
        padding: 50px 100px; 
        background: var(--white);
    }

    .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        grid-gap: 20px;
    }

    .sec {
        h2 {
            color: #333;
            font-weight: 600;
            margin-bottom: 15px;
        }

        p {
            color: #555;
        }
    }

    .sci {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(4, 50px);
        
        li {
            list-style: none;
            a {
                display: inline-block;
                width: 36px;
                height: 36px;
                background: var(--eerie-black);
                border: 1px solid var(--onyx);
                border-radius: var(--border-radius-sm);
                display: grid;
                align-content: center;
                justify-content: center;
                text-decoration: none;

                i {
                    color: var(--white);
                    font-size: 25px;
                    transition: color 0.3s ease-in-out;
                }

                &:hover i {
                    animation: iconAnimation 0.5s infinite;
                }
            }
        }
        
        .twitter:hover i {
            color: rgb(0,166,232); 
        }

        .instagram:hover i {
            color: rgb(178,53,110); 
        }

        .facebook:hover i {
            color: rgb(59,85,150); 
        }

        .youtube:hover i {
            color: rgb(203,21,35); 
        }
    }

    

    .quicklinks ul li,
    .contact .info li {
        list-style: none;
    }

    .quicklinks ul li a,
    .contact .info li a {
        color: #555;
        text-decoration: none;
        display: inline-block;
    }

    .contact .info li {
        display: grid;
        grid-template-columns: 30px 1fr;
        margin-bottom: 16px;

        span {
            color: #555;
            font-size: 20px;
        }
    }

    /* Copyright Text */
    .copyright-text {
        position: absolute;
        bottom: -20px;
        width: 100%;
        background: var(--white);
        padding: 20px 100px 20px;
        text-align: center;
        color: #555;
        border-top: 1px solid rgba(0, 0, 0, 0.15); 
    } 


    /* Media queries */

    @media (max-width: 991px) {
        footer {
            padding: 40px;
        }

        .container {
            grid-template-columns: repeat(2, 1fr);
        }

        .copyright-text {
            padding: 5px 40px 30px;
        }
    }

    @media (max-width: 768px) {
        .container {
            grid-template-columns: repeat(1, 1fr);
        }

        .copyright-text {
            padding: 20px 40px 10px;
        }
    }
} 



 
