

/* Contenedor principal */
.container-index {
  width: 90%;
  margin: 0 auto;
  /* padding-bottom: 42rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  overflow-y: hidden;
}


/* Contenedor del carrusel */
.carousel {
  width: 70%;
  margin: auto;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  border-radius: var(--border-radius-md);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.4),
    0 2px 10px rgba(0, 0, 0, 0.5),
    0 3px 15px rgba(0, 0, 0, 0.6),
    0 5px 20px rgba(0, 0, 0, 0.7);
}



/* Estilos de la imagen del carrusel */
.slide {
  display: block;
  width: 100%;
  height: auto;
}



/*** deslizador ***/

/*contenedor swiper*/
.container-swiper {
  position: relative;
  width: 80%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 0 60px;
  border-radius: var(--border-radius-md);
}

/* estilos de título */
.swiper-title {
  padding: 30px 0;
}

.container-swiper h2 {
  text-align: center;
  color: var(--white);
  font-size: var(--fs-1);
}

/* deslizador*/

.swiper {
  width: 97%;
  height: 90%;
}

.swiper-slide {
  max-width: 300px;
  max-height: 400px;
  background-color: var(--onyx);
  padding: 45px;
  text-align: center;
  border-radius: 25px;
  cursor: grab;
}

/* estilos de icons*/
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.icons i {
  font-size: var(--fs-2);
  color: var(--violet);
}

.icons img {
  width: 100px;
}

.product-content {
  display: flex;
  justify-content: space-between;
}

.product-txt {
  flex-basis: 50%;
  text-align: left;
}

.product-txt span {
  font-size: 14px;
  color: var(--violet);
  font-weight: bold;
}

.product-txt h3 {
  font-size: 14px;
  color: var(--white);
  text-transform: uppercase;
}

.product-txt p {
  font-size: 12px;
  color: #c4c4c4;
}

.product-img {
  flex-basis: 30%;
  text-align: right;
}

.product-img img {
  width: 100px;
}

.btn-1 {
  display: inline-block;
  padding: 13px 55px;
  border: 1px solid var(--violet);
  border-radius: 25px;
  color: var(--white);
  text-decoration: none;
  margin-top: 20px;
}


.container-payment {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 50px;
}

.container-payment img {
  width: auto;
  height: 17%;
  object-fit: fill;
}




/* Sección de información */
.section-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Iconos */
.icons-index {
  display: flex;
  justify-content: center;
  width: 90%;
}

.icon1,
.icon2,
.icon3 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  margin-top: 90px;
  padding: 20px;
}



.icon1 i,
.icon2 i,
.icon3 i {
  margin-bottom: 5px;
  font-size: 400%;
}

.icon1:hover,
.icon2:hover,
.icon3:hover {
  background: transparent;
  box-shadow: 0 0px 5px var(--violet),
    0 0px 10px var(--violet),
    0 0px 15px var(--violet),
    0 5px 20px var(--violet);
  border-radius: var(--border-radius-md);
}

/* Texto de información */
.info-txt {
  margin: 30px;
  width: 90%;
}

.info-txt h2 {
  text-align: center;
  color: var(--white);
}

.txt-title {
  font-size: 150%;
  margin-bottom: 20px;
}



/**** Media Queries ****/

/* Tablets  */
@media (max-width: 1024px) {
  .container-swiper {
    height: auto;  
    min-height: 300px;
    padding-bottom: 60px;
  }

  .swiper-slide {
      max-width: 50%;
      max-height: 400px;
      padding: 20px;
  }

  .section-info {
    margin-bottom: 2rem;
  }

  .info-txt {
    margin: 15px;
  }
}

/* Móviles */
@media (max-width: 768px) {
  boby{
    overflow: hidden;
  }
  .carousel {
    width: 100%;
    border-radius: 0;
  }

  .container-swiper {
    width: 100%;
    height: auto;
    border-radius: 0;
    flex-shrink: 0; 
  }

  .swiper-slide {
    max-width: 250px;
    max-height: 500px;
    padding: 45px;
  }

  .product-content {
    flex-direction: column;
    align-items: center;
  }

  .product-txt {
    text-align: center;
  }

  .product-img img {
    max-width: 90%;
    height: auto;
    margin-top: 10px;
  }

  .icons-index {
    flex-direction: column; 
    align-items: center;
  }

  .icon1, .icon2, .icon3 {
    margin: 10px 0; 
  }
}

/* pantallas pequeñas */
@media (max-width: 480px) {
  .container-index {
    width: 80;
    height: auto;
  }  

  .container-swiper {
    width: 100%;
    height: auto;
    border-radius: 0;
    flex-shrink: 0; 
  }

  .swiper-slide {
    max-width: 250px;
    max-height: 500px;
    padding: 45px;
  }
  
  .swiper-slide .btn-1{
   width: 100%;
   text-align: center;
   padding: 20px;
  }

  .product-content {
    flex-direction: column;
    align-items: center;
  }

  .product-txt {
    text-align: center;
  }

  .product-img img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }



  .info-txt {
    font-size: 0.9rem; 
    margin: 0 auto;
  }

  .container-payment{
    width: 80%;
    margin-right: 45%;
  }

  .container-payment img{
    margin: 0 auto;
  }
}