/* Importación de archivos CSS externos */
@import "style.css";

/* Estilos del formulario principal */
.main-form {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.main-form .container {
    background-color: var(--white);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.main-form .container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.main-form .container span {
    font-size: 12px;
}

.main-form .container a {
    color: var(--onyx);
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.main-form .container button {
    background-color: var(--violet);
    color: var(--white);
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.main-form .container button.hidden {
    background-color: transparent;
    border-color: var(--white);
}

/* Estilos de los términos y condiciones */
.main-form .input-link {
    display: flex;
    align-items: center;
}

.main-form .checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.main-form .checkbox-custom {
    display: none;
}

.main-form .checkbox-custom + .checkbox-label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--white);
    border: 2px solid var(--sonic-silver);
    border-radius: 3px;
    margin-right: 10px;
}

.main-form .checkbox-custom:checked + .checkbox-label::before {
    background-color: var(--violet);
}

.main-form .checkbox-label a {
    text-decoration: none;
    color: var(--onyx);
    font-size: 16px;
    font-weight: bold;
}

/* Estilos del formulario */
.main-form .container form {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.main-form .container input {
    background-color: var(--cultured);
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

/* Estilos de la animación de cambio de panel */
.main-form .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.main-form .sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.main-form .container.active .sign-in {
    transform: translateX(100%);
}

.main-form .sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.main-form .container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

/* Animación de cambio de panel */
@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

/* Estilos de los íconos sociales */
.main-form .social-icons {
    margin: 20px 0;
}

.main-form .social-icons i {
    font-size: 30px;
}

.main-form .social-icons a {
    border: 1px solid var(--spanish-gray);
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

/* Estilos del interruptor para el cambio de panel */
.main-form .toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 5;
}

.main-form .container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.main-form .toggle {
    background-color: var(--violet);
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: var(--white);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.main-form .container.active .toggle {
    transform: translateX(50%);
}

.main-form .toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.main-form .toggle-left {
    transform: translateX(-200%);
}

.main-form .container.active .toggle-left {
    transform: translateX(0);
}

.main-form .toggle-right {
    right: 0;
    transform: translateX(0);
}

.main-form .container.active .toggle-right {
    transform: translateX(200%);
}

/* Estilos responsivos */
@media (max-width: 769px) {
    .main-form {
        margin-top: 50px;
        margin-bottom: 450px;
    }
    .container {
        height: 630px;
    }
}
