/* Importación de archivos CSS externos */
@import "index.css";
@import "signinup.css";
@import "footer.css";
@import "header.css";
@import "terms.css";
@import "about.css";
@import "cards.css";
@import "shoppingcart.css";
@import "contact.css";
@import "locals.css";
@import "contact-complete.css";

/* Importación de fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/*-----------------------------------*/
/* Propiedades Personalizadas */
/*-----------------------------------*/

:root {
    /* Definición de colores */
    --spanish-gray: rgb(153, 153, 153);
    --sonic-silver: rgb(120, 120, 120);
    --bittersweet: rgb(255, 102, 102);
    --eerie-black: rgb(33, 33, 33);
    --violet: rgb(103, 92, 255);
    --davys-gray: rgb(84, 84, 84);
    --cultured: rgb(237, 237, 237);
    --white: rgb(255, 255, 255);
    --onyx: rgb(69, 69, 69);
    --color-btn: rgb(13, 155, 202);
    --color-btn-hover: rgb(1, 91, 121);
    --bg-color-img: rgba(103, 92, 255, 0.6);

    /* Definición de tamaños de fuente */
    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;

    /* Definición de pesos de fuente */
    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;

    /* Definición de radios de borde */
    --border-radius-md: 10px;
    --border-radius-sm: 5px;

    /* Definición de tiempo de transición */
    --transition-timing: 0.2s ease;

    --box-shadow: 0 5 15px rgba(0, 0, 0, 0.5);
}


/**** Estilos Generales ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* Ajuste para evitar desbordamiento horizontal */
body {
    position: relative;
    overflow-x: hidden;
}


/*** Estilos de la Sección Principal ****/

main {
    width: 100%;
    height: auto;
}


/* Pseudo-elementos para efecto de fondo */
main::after,
main::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    filter: blur(100px);
    opacity: 0.2;
    top: -10%;
    left: -10%;
    background: linear-gradient(to right, rgba(52, 114, 239, 0.8) 50%, rgba(87, 7, 157, 0.8) 50%);
    /* Gradiente que mezcla los colores a la mitad */
    transform: translateX(10%);
}

/**** Estilos Generales ****/


/* Estilos para enlaces */
a {
    text-decoration: none;
}

/* Estilos para listas */
li {
    list-style: none;
}

/* Estilos para botones */
button {
    background: none;
    font: inherit;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

/* Estilos para cajas, botones y enlaces */
bx,
button,
a {
    display: block;
}

/* Animación de iconos */
@keyframes iconAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}