/* Importando estilos generales desde style.css */
@import "style.css";

/* Estilos para el contenedor de Términos y Condiciones */
.container-terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.6;
    background-color: var(--cultured);
    margin: 0 50px 150px 50px;
    padding: 40px;
    border-radius: var(--border-radius-md);
    box-shadow: var(--box-shadow);

    /* Estilos para los títulos */
    h1 {
        color: var(--eerier-black);
    }

    h2 {
        color: var(--eerier-black);
        margin-top: 30px;
    }

    /* Estilos para los párrafos */
    p {
        color: var(--onyx);
    }

    /* Estilos para los elementos de resaltado */
    span {
        color: var(--violet);
    }

    /* Estilos específicos para la introducción */
    #introduccion span {
        display: block;
        margin-bottom: 20px;
    }

    /* Estilos para el botón de aceptar */
    .acept-terms {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        /* Estilos para el botón de aceptar */
        a.accept-btn {
            padding: 10px 40px;
            background-color: var(--color-btn);
            color: white;
            border: none;
            border-radius: var(--border-radius-sm);
            cursor: pointer;
            transition: background-color 0.3s;

            /* Estilos al pasar el mouse sobre el botón */
            &:hover {
                background-color: var(--color-btn-hover);
            }
        }
    }
}
/* Tablets (Pantallas medianas) */
@media (max-width: 1024px) {
    .container-terms {
        padding: 30px;
    }
}

/* Móviles (Pantallas pequeñas) */
@media (max-width: 767px) {
    .container-terms {
        margin: 20px;
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
        margin-top: 20px;
    }

    p {
        font-size: 16px;
    }

    .acept-terms {
        margin-top: 10px;

        a.accept-btn {
            padding: 8px 30px;
        }
    }
}
