/* Terms and Conditions */
@import "style.css";

.main-terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.6;
    background-color: #f9f9f9;
    margin: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        h1 {
            color: #333;
        }

        h2 {
            color: #555;
            margin-top: 30px;
        }

        p {
            color: #666;
        }

        span {
            color: #999;
        }

        #introduccion span {
            display: block;
            margin-bottom: 20px;
        }

        .acept-terms {
            margin-top: 20px;
            display: flex;
            justify-content: center;

            a.accept-btn {
                padding: 10px 40px;
                background-color: #007bff;
                color: white;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }
}